/*Loader*Styling*/
#loading {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 25px);
    z-index: 9999
}

.uil-ripple {
    position: absolute;
    left: calc(50% - 90px);
    top: calc(50% - 90px);
    opacity: .5;
    z-index: 999
}

.ld-l {
    opacity: 0;
    animation: ld-in 3s 0.0s ease infinite
}

.ld-o {
    opacity: 0;
    animation: ld-in 3s 0.1s ease infinite
}

.ld-a {
    opacity: 0;
    animation: ld-in 3s 0.2s ease infinite
}

.ld-d {
    opacity: 0;
    animation: ld-in 3s 0.3s ease infinite
}

.ld-i {
    opacity: 0;
    animation: ld-in 3s 0.4s ease infinite
}

.ld-n {
    opacity: 0;
    animation: ld-in 3s 0.5s ease infinite
}

.ld-g {
    opacity: 0;
    animation: ld-in 3s 0.6s ease infinite
}

@keyframes ld-in {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    30% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

/*Other*Styling*/
@font-face {
    font-family: 'eraser';
    src: url('./res/font/Eraser.ttf') format('truetype');
}

.DictionaryElem {
    color: #d5bfff;
    font-size: 2.6vw;
    font-family: calibri;
    cursor: pointer;
    line-height: 2.1vw;
    width: 2.6vw;
    text-align: center;
    z-index: 100;
    height: 2.6vw;
    margin: 0;
}

.screenshots {
    padding: 2vw;
    margin: auto;
    opacity: 0
}

.loader {
    z-index: 100000;
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute
}

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    -moz-transform-origin: 60px 60px;
    -ms-transform-origin: 60px 60px;
    -o-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    -moz-animation: rotate 1.2s infinite linear;
    -o-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear
}

.loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 20px -6px 20px 15px rgb(255, 0, 24)
}

#particles-background,
#particles-foreground {
    left: -51%;
    top: -51%;
    width: 202%;
    height: 202%;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -o-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1)
}

#particles-background {
    background: #2c2d44;
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%)
}

lesshat-selector {
    -lh-property: 0
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    0% {
        -o-transform: rotate(0deg)
    }

    100% {
        -o-transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

[not-existing] {
    zoom: 1
}

lesshat-selector {
    -lh-property: 0
}

@-webkit-keyframes fade {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.25
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.25
    }
}

@-o-keyframes fade {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.25
    }
}

@keyframes fade {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.25
    }
}

[not-existing] {
    zoom: 1
}

lesshat-selector {
    -lh-property: 0
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

[not-existing] {
    zoom: 1
}

#Layer_1 {
    height: 91%;
    margin: 4% 11%
}

html {
    overflow-x: hidden;
    overflow-y: hidden
}

.container,
body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.icons,
.list-text {
    vertical-align: middle
}

.list-text,
h1 {
    text-align: center;
    font-weight: 700
}

h1.Title {
    width: 70vw;
    letter-spacing: 0.2vw;
    color: #fff
}

.side-list,
.side-list-names,
.side-list:hover,
.title {
    background-color: transparent
}

html {
    height: 100%;
    width: 100%
}

::-webkit-scrollbar {
    width: 10px
}

.overlayContainer {
    position: absolute;
    margin: 1.5vw 0 0 4vw
}

.section {
    width: 19.5vw;
    height: 19.5vw;
    display: grid;
    grid-template-columns: repeat(3, auto)
}

p#about {
    color: #fff;
    font-size: 1.38vw;
    font-family: calibri;
    padding: 1vw 1vw 2.6vw 1vw;
    margin: 0;
    border-radius: 2vw;
    background: #fff2;
    text-shadow: 0 0 0.1vw #5f0fa9;
    text-align: justify
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #555
}

::-webkit-scrollbar-thumb:hover {
    background: #000
}

.displayWindow,
.divAv,
body {
    max-height: 100%;
    overflow-y: hidden
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem
}

ul {
    list-style-type: none;
    padding: 0
}

#history {
    background: #fff;
    margin: -0.5vw 0 0 0.2vw;
    border-radius: 1vw 1vw 1.6vw 1.6vw;
    padding-bottom: 1vw;
    text-transform: uppercase
}

.sidebar {
    color: #57606f;
    display: none;
    flex-direction: row;
    float: left;
    height: 90%;
    position: absolute;
    z-index: 2;
    overflow: scroll;
    overflow-x: hidden
}

.icons,
.list-text,
.main-menu li {
    position: relative
}

.main-menu {
    width: 80px;
    overflow: visible;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1)
}

.main-menu li {
    display: block
}

.icons {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    align-items: flex-start
}

.app,
.side-list,
.side-list-names {
    flex-direction: row;
    display: flex
}

.side-list,
.side-list-names {
    border-color: #57606f;
    cursor: pointer
}

.CWASAAvatar,
.side-list-names {
    width: 155px;
    justify-content: center;
    background: transparent;
    margin-left: 10px
}

.list-text {
    color: #fff
}

.displayWindow::-webkit-scrollbar {
    display: none
}

.displayWindow::-moz-scrollbars {
    display: none
}

.displayWindowImage,
.displayWindowImageRound {
    cursor: pointer
}

.displayWindow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vw 0 0 0;
    margin: 5vw 0 0 2vw;
    width: 66.6vw;
    height: 37vw
}

#box {
    margin-top: 5%
}

.teamContainer {}

.displayWindowImageRound {
    border-radius: 50%;
    border: 3px solid gold
}

.teamImageRound {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.displayWindowElemText {
    font-size: 2rem;
    color: #fff;
    margin: 5px;
    text-align: center
}

.teamElemText {
}

input.search__input {
    margin-top: 0.8vw !important;
    width: 11vw;
    height: 4vh;
    display: inline-block;
    padding-left: 1vw;
    border: solid 0.1vw #000 !important;
    border-radius: 6vw;
    -webkit-text-fill-color: black;
    background-color: #eefeff;
}

#next-btn {
    width: 5vw;
    height: 100%;
    position: absolute;
    z-index: 20;
    left: 70vw;
    margin-top: 10vh;
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

div#upperContainer {
    height: 10vh;
    width: 75vw;
}

::-webkit-scrollbar-thumb {
    background: #555
}

.overlay {
    display: flex;
    flex-direction: row;
    margin: 0.2vw 0 0 0;
    z-index: 21
}

::-webkit-scrollbar-thumb:hover {
    background: #000
}

.displayWindow,
.divAv,
body {}

body {
    max-height: 100%;
    overflow-y: hidden
}

#title-name,
img {}

.bts-popup-container h1 {
    color: #555;
    font-size: 1.25vw
}

.title {
    height: 2.2vw;
    color: #dfe4ea;
    text-transform: capitalize;
    background-color: brown;
    
}

.title img {
    height: 2vw;
    width: 8vw;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    margin-left: 8vw
}

ul {
    list-style-type: none;
    padding: 0
}

#history li {
    cursor: pointer;
    margin: 0vw 0 0 0vw;
    width: 12vw;
    font-size: 1.25vw;
    text-align: center;
    height: 1.6vw
}

#history li:hover {
    color: #fff;
    background: #b63b4d;
    border-radius: 1vw 1vw 0 0
}

.sidebar {
    color: #57606f;
    display: none;
    flex-direction: row;
    float: left;
    height: 90%;
    position: absolute;
    z-index: 2;
    overflow: scroll;
    overflow-x: hidden
}

.icons,
.list-text,
.main-menu li {
    position: relative
}

.main-menu {
    width: 80px;
    overflow: visible;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1)
}

.main-menu li {
    display: block
}

.icons {
    width: 7vw;
    height: 7vw;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    align-items: flex-start
}

#project p,
#team p {
    font-size: 6vw;
    font-family: eraser;
    color: #fff;
    text-align: center
}

.side-list,
.side-list-names {
    position: relative;
    border-color: #57606f;
    width: 7.21vw;
    height: 5.3vw;
    align-items: center;
    margin: 0;
    cursor: pointer
}

.side-list {
    margin: auto
}

#team,
#project {
    margin: 8vw 0 0 6vw;
    width: 18vw;
    height: 18vw
}

.CWASAAvatar,
.CWASAGUI {
    border: 0
}

.side-list-names {
    width: 10.1vw;
    justify-content: center;
    background: transparent;
    font-size: 1.2vw;
    margin: 0
}

.list-text {
    color: #fff
}

.displayWindow::-webkit-scrollbar {
    display: none
}

.displayWindowImage,
.displayWindowImageRound {
    width: 6.5vw;
    height: 6.5vw;
    cursor: pointer;
    border-radius: 0.4vw
}

.displayWindow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 8vh 0 0 4%;
    width: 92%;
    height: 89%;
}

.elements {
    display: inline-block;
    margin: auto;
    height: auto;
    border-radius: 2vw;
    padding: 2vw;
    font-family: "eraser";
    z-index: 100;
}

.elements.Search {
    padding: 0.7vw 0;
    margin: 0 0 0 3vw;
}

.elements.Search .displayWindowElemText {
    font-size: 1.8vw;
    align-self: flex-start
}

#box {
    margin-top: 5%
}

.displayWindowContainer {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20%;
}

.screenshots .displayWindowContainer {}

.teamContainer {
    /* height: 19vw; */
    /* margin: auto; */
    text-align: center;
    /* width: 15vw; */
    display: inline-block;
    font-family: calibri
}

.displayWindowImageRound {
    border-radius: 50%;
    border: 3px solid gold
}

.teamImageRound {
    width: 75%;
    height: 12vw;
    margin: 0 0vw;
    border-radius: 50%
}

.displayWindowElemText {
    font-size: 2vw;
    color: #fff;
    text-transform: uppercase;
    margin: 0.2vw;
    font-family: eraser;
    text-align: center;
    cursor: pointer
}

.teamElemText {
}

#container-about,
#container-team {
    margin-top: 7%;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    position: absolute;
    display: none
}

#container-team {
    margin-top: 12%
}

#inner {
    width: 70%;
    height: 80%
}

#inner-team {
    width: 70%;
    height: 100%
}

.image {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px
}

#img {
    width: 25%;
    height: 100%;
    background-size: cover
}

#text {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    word-wrap: break-word
}

#text p {
    font-family: Arvo, serif;
    margin-top: 10px;
    font-size: 20px
}

.team {
    width: 180px;
    height: 180px;
    border-radius: 45%
}

#imageWindow,
#lunaWindow {
    vertical-align: top
}

#imageWindow {
    display: inline-block;
    background: #333;
    background-size: contain;
    width: 75vw;
    height: 90vh;
    background-repeat: no-repeat;
}

#reload-sigml,
.cancel {
    height: 3vw;
    width: 3vw;
    z-index: 2;
    display: inline-block;
    cursor: pointer;
}

#reload-sigml {
    float: right;
}

.cancel {
    margin-left: 1VW;
    float: left
}

.changeSS {
    max-height: 350px;
    max-width: 290px
}

#prev-btn {
    width: 6vw;
    height: 100%;
    position: absolute;
    z-index: 20;
    margin: 10vh 0 0 0vw;
}

#prev-btn:hover,
#next-btn:hover {
    opacity: 0.1;
    background: #fff
}

#nameImage {
    width: 4vw;
    height: 4vw;
    margin: auto;
}

.popup-font {
    font-size: 1.10vw;
    font-family: inherit;
    margin: 0.5vw 0;
    font-weight: 300;
    color: #545454;
}

.btn {
    display: inline-block;
    border-radius: 8px;
    z-index: 7;
    margin: 0 1vw 0 1vw;
    text-transform: uppercase;
    padding: 1vh 1vw;
    cursor: pointer;
    text-align: center;
    font-size: 1.8vh;
    position: relative;
    text-decoration: none;
    background: #0a9ace;
    font-weight: bold;
    transform: translate(0, 0vw);
    font-family: calibri;
    color: #FFF;
    border: solid 2px #0002;
}

button:focus {
    outline: none
}

.list-text {
    text-transform: uppercase;
    font-family: 'eraser', cursive !important
}

#title-name {
    font-family: 'calibri', cursive !important;
    font-size: 1.6vw;
    margin: 0vw 0 0 17vw;
    display: inline-block;
    word-spacing: 0.3vw;
    color: #000;
    text-transform: uppercase
}

.dimension {}

.screenshots .displayWindowImage {
    width: 12.5vw;
    height: 12.5vw;
}

.square_btn {
    display: inline-block;
    border-radius: 8px;
    z-index: 7;
    margin: 0 0 0 1vw;
    text-transform: uppercase;
    padding: 1vh 1vw;
    cursor: pointer;
    text-align: center;
    font-size: 1.8vh;
    position: relative;
    text-decoration: none;
    background: #0a9ace;
    font-weight: bold;
    transform: translate(0, 0vw);
    font-family: calibri;
    color: #FFF;
    border: solid 2px #0002;
}

.square_btn:active {
}

.link {
    width: fit-content;
    cursor: pointer;
    height: 1.5vw;
    text-transform: uppercase;
    color: #685150;
    font-size: 1vw;
    display: inline-block;
    font-weight: 700;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin: 0vw 0 0vw 2vw;
    transform: translate(-0.5vw, -0.3vw);
}

.animated {
    padding: 1vw 2vw 0vw 5vw;
    margin: auto
}

/*Language*Styling*/
.submenu {
    z-index: 1;
    position: absolute;
    width: 20vw;
    display: inline-block;
    background: transparent;
    transform: translate(0, 0);
    margin: 0.4vw 0 0 1vw;
}

.submenu li {
    border-bottom: 0.1vw solid #4b4a5e;
    border-radius: 4vw;
    background: #fff;
    width: 7.7vw;
    font-size: 1.2vw;
    cursor: pointer;
    padding: 0.8vw 0.5vw;
    text-align: center;
    display: inline-block;
    margin: 0 0.2vw;
}

.submenu a {
    text-decoration: none;
    color: black;
    -webkit-transition: all 0.25s ease !important;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease !important;
    border-radius: 1vw
}

.langmenu:hover {
    background: #b63b4d
}

.langmenu:hover a {
    color: #fff
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
    border-radius: 4vw
}

/**Search*Styling*/
.search__container {
    display: inline-block;
    width: 13vw;
    z-index: 1000
}

.search__title {
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88
}

.search__input {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 2vw;
    background-position: 95% center;
    backface-visibility: hidden;
    color: blue;
    transform-style: preserve-3d
}

.search__input:focus,
.search__input:focus-within {
    outline: none;
    border: solid 0.1vw #4285f4 !important;
    color: #4285f4 !important
}

.search__input::placeholder {
    color: blue;
    text-transform: uppercase;
    letter-spacing: 0.2vw
}

/**Luna*Styling**/
.luna {
    float: right;
    width: 29vw;
    height: 39.1vw;
    display: flex;
    text-align: center;
    font-size: 100px;
    margin: -0.1vw 0 0 0
}

.luna,
.main {
    vertical-align: baseline
}

#ProgElem {
    font-size: 1.6vw;
    border-radius: .8vw;
    position: absolute;
    color: white;
    margin: 14vw 10vw;
    padding: 0.5vw;
    z-index: 50;
    display: none
}

#avat {
    width: 100%;
    margin: 0;
    height: 80vh;
}

.spanSpeed {
    /* background: rgb(211, 211, 211); */
    color: #000;
    width: 100%;
    height: 7vh;
    border-radius: 0 0 5px 5px;
    font-family: calibri;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttnSpeedDown,
.bttnSpeedUp {
    margin: 0.3vw 0.1vw;
    font-size: 2.2vh;
    color: #000;
    background: #fff;
    border-radius: 50%;
    width: 1.5vw;
    height: 1.5vw;
    text-align: center;
}

.bttnSpeedReset {
    width: 6vw;
    padding: 0.2vw 0.5vw;
    margin: 0.26vw 0;
    font-size: 1.1vw;
    background: #fff;
    border-radius: 1vw;
    text-align: center
}

.txtLogSpeed {
    text-align: center;
    width: 3VW;
    height: 1.5vw !important;
    cursor: none;
    background: none;
    border: solid 0.2vw #fff;
    margin: 0.1vw 0 0 0;
    color: #000;
    border: 2px solid white;
}

.speedtxt,
.txtLogSpeed,
.bttnSpeedDown,
.bttnSpeedUp,
.bttnSpeedReset {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 0.5vw
}

.speedtxt {
    cursor: default;
    font-size: 1.67vw;
    margin: 0 0 0 1vw;
    text-align: center;
    width: 6vw
}

input {
    font-size: 0.9vw;
    margin: 0.40vw 0.2vw;
    display: contents;
    border: none;
    border-radius: 3vw;
    height: 1.3vw;
    cursor: pointer
}

.image-buttons input {
    display: inline-block;
    height: 5.7vw;
    width: 26vw;
    background: #fff2;
    color: #fff;
    border: none;
    user-select: none;
    z-index: 25;
    font-size: 2vw
}

.elemName {
    width: auto;
    height: auto;
    transform-style: preserve-3d;
    display: inline-block;
    padding: 0;
    font-family: calibri;
    color: #000;
    font-size: 1.8vw;
    text-align: center;
    text-transform: capitalize;
    position: relative;
    flex-direction: row;
    max-width: 10vw;
    margin: auto;
}

.inner-currentname {
    width: 29.8vw;
    height: 2.5vw;
    pointer-events: none;
    transform-style: preserve-3d;
    display: inline-block;
    padding: 0;
    font-family: eraser;
    z-index: 1;
    color: #dae8ff;
    font-size: 2.2vw;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
    position: fixed;
    margin: 0 0 0 39vw;
    max-width: unset;
}

p#nameWindow {
    margin: 0
}

#category {
    width: 69.8vw;
    height: 3vw;
    pointer-events: none;
    transform-style: preserve-3d;
    display: inline-block;
    padding: 0;
    font-family: eraser;
    z-index: 1;
    color: #e4e9ff;
    font-size: 2.5vw;
    text-transform: uppercase;
    background: transparent;
    text-align: center;
    position: fixed;
    margin: 0 0 0 -1vw;
}

.txtGloss {
    margin: 0;
    opacity: 0;
    width: 24vw;
    height: 2.4vw;
    margin: 0vh 0 0 0px;
    display: inline-block;
    pointer-events: none;
    text-align: center;
    font-size: 1.2vw;
    background: unset;
    width: 100%;
}

.CWASAAvatar,
.canvasAv,
.divAv {
    width: 25vw;
    height: 80vh;
}

#lunaWindow {
    width: 25vw;
    display: inline-block;
    float: right;
    height: 100vh;
    background: #ddd;
}

/*PopUp*Styling*/
.bts-popup {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 0.6vw;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none
}

.bts-popup-container {
    position: relative;
    width: 32vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: -3vw auto;
    padding: 1vw 0.5vw;
    height: 37vw;
    border-radius: 0.4vw;
    background: #fff;
    background-size: cover;
    text-align: center;
    top: 6.5vw;
    animation: popup-show 1s;
    -webkit-background-clip: border-box;
    background-clip: border-box;
}

.bts-popup-container input {
    width: 6vw;
    height: 3.5vw;
    border-radius: 0.3vw;
    background: #3085d6;
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1vw;
}

.bts-popup-container img {
    width: 8.511vw;
    height: 8.511vw;
}

.bts-popup:hover {
    cursor: default
}

.bts-popup-close {
    position: absolute
}

a.bts-popup-close.cross {
    margin-left: 14vw;
}

.bts-popup-container .bts-popup-close::before {
    cursor: pointer;
    content: '';
    position: absolute;
    width: 1.5vw;
    height: 1.5vw
}

.bts-popup-container .bts-popup-close::after {
    width: 0
}

@-webkit-keyframes popup-show {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7)
    }

    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes popup-show {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7)
    }

    45% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes popup-hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0
    }
}

@keyframes popup-hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0
    }
}

@keyframes screenshots {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

/*Cube*Styling*/
:root {
    font-size: 0.651vw;
    --border-color: #e70;
}

.teamContainer {
    padding: 2px;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.teamContainer img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-bottom: 1vh;
}

.section {
    display: grid;
    background: #000;
    grid-template-columns: repeat(3, auto);
    width: 19.5vw;
    height: 19.5vw;
    overflow: hidden;
}

.image-4 .section,
.image-6 .section,
.image-1 .section,
.image-2 .section {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4rem
}

h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem
}

.cube-container {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 9.65vw 0 0 37vw;
    perspective: 100rem
}

.cube {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0s cubic-bezier(0.32, 0.05, 0.35, 1.6)
}

.cube-face-image {
    display: block;
    position: absolute;
    box-shadow: 0 0 0.5vw #fff
}

.image-buttons {
    display: flex;
    flex-direction: column;
    position: absolute
}

.image-buttons input:focus {
    outline: none;
    border: 0.2rem solid var(--border-color)
}

.image-1 {
    transform: translateZ(15rem)
}

.image-2 {
    transform: rotateX(-180deg) translateZ(15rem)
}

.image-3 {
    transform: rotateY(90deg) translateZ(15rem)
}

.image-4 {
    transform: rotateY(-90deg) translateZ(15rem)
}

.image-5 {
    transform: rotateX(90deg) translateZ(15rem)
}

.image-6 {
    transform: rotateX(-90deg) translateZ(15rem)
}

.cube.initial-position {
    transform: translateZ(32rem)
}

.cube.show-image-1 {
    transform: translateZ(34rem)
}

.cube.show-image-2 {
    transform: translateZ(34rem) rotateX(180deg)
}

.cube.show-image-3 {
    transform: translateZ(34rem) rotateY(-90deg)
}

.cube.show-image-4 {
    transform: translateZ(34rem) rotateY(90deg)
}

.cube.show-image-5 {
    transform: translateZ(34rem) rotateX(-90deg)
}

.cube.show-image-6 {
    transform: translateZ(34rem) rotateX(90deg)
}

/*Mobile*Styling*/
@media screen and (max-width: 767px) and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

.btn2:hover{
    background-color: #0080ad;
}
.skiptranslate {
    display: none !important;
    }

#translate .skiptranslate {
    display: block !important;
} 
body {
    top: 0px !important; 
    }